<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>租房平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="assets/images/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
<link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="assets/css/amazeui.min.css">
<link rel="stylesheet" href="assets/css/app.css">

<!-- 重置底部菜单左右间隙大小 一行中列的等分比-->
<style type="text/css">
	
	.am-navbar .am-navbar-nav {
	  padding-left:  0px;
	  padding-right: 0px;
	}
	
	.am-u-sm-6 {
	  width: 40%;
	}
	
	.am-u-sm-2 {
	  width: 20%;
	}

</style>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app_yuyin.js"></script>

</head>

<body>

<!-- Header -->
<header data-am-widget="header" class="am-header am-header-fixed">
  <div class="am-header-left am-header-nav"> 
   <a href="javascript:history.go(-1)" class="am-btn"><i class="am-header-icon am-icon-angle-left am-icon-md"></i></a>  
  </div>
  <h1 class="am-header-title">房客详细信息</h1>
  <div class="am-header-right am-header-nav">
  <!-- <a href="login.html" class="am-btn"><i class="am-header-icon am-icon-user"></i><span class="am-header-nav-title">搜索</span> </a> <-->
  </div>
</header>

<!-- gap -->
<div style="height:15px"></div>

<!--  头部基本信息 -->
<div data-am-widget="list_news" class="am-list-news am-list-news-default am-container">

  <div class="am-list-news-bd">
    <ul class="am-list">
    
      <!--缩略图在标题左边-->
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
        <div class="am-u-sm-3 am-list-thumb" align="center">
			<div class="am-g" style="height:60px; width:50px; margin-top:0px; padding-top:0px;">
				<img class="am-img-thumbnail am-circle am-img-responsive" src="assets/images/man.png" style="background-color:#C63" width="140" height="140" /><br>
			</div>
		</div>
        
        <div class="am-u-sm-9 am-list-main">
          <div class="prouduct_list_content">
				<span style="font-size:16px; color:#FF6600">房客:</span><span style="font-size:16px; color:#FF6600">liangxx</span><br>
				<span>所属区域:</span><span>江汉区</span><br>
				<span class="am-list-item-dated">更新时间:</span><span>2015-04-12 12:45</span>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
</div>

<!--  详细需求信息 -->
<div class="am-container">
	
	<ul class="am-list am-collapse admin-sidebar-sub am-in">
		<li>&nbsp;预算:&nbsp;&nbsp;
		   <span><font color="#999999">小于2000元</font></span>
		</li>
		
		<li>&nbsp;户型:&nbsp;&nbsp;
			<span><font color="#999999">三室两厅两卫</font></span>
		</li>            
			
		<li>&nbsp;面积:&nbsp;&nbsp;
			<span><font color="#999999">大于90平米</font></span>
		</li>  
		
		<li>&nbsp;朝向:&nbsp;&nbsp;
			<span><font color="#999999">朝南</font></span>
		</li> 
	</ul>
	
	<ul class="am-list am-collapse admin-sidebar-sub am-in">
		<li>&nbsp;描述:&nbsp;&nbsp;
		   <span><font color="#999999">自适应网页设计（英语：Responsive web design，通常缩写为RWD）是一种网页设计的技术做法，该设计可使网站在多种浏览设备（从桌面电脑显示器到移动电话或其他移动产品设备</font></span>
		</li>
	</ul>
	
</div>

<hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>

<div style="height:10px"></div>

<!-- 底部菜单 -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" style="background:none; padding-left:0px; padding-right:0px;">

	<div class="am-g">
	
	  <div class="am-u-sm-6" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px;">
	   <ul class="am-navbar-nav am-cf am-avg-sm-4">
		<li style="background:#666666;"><a style="color:#FFFFFF; font-size:14px;">田田(房东)<br>13456873542-武汉</a></li>
	   </ul>
	  </div>
	  
	  <div class="am-u-sm-2" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px;">
		<ul class="am-navbar-nav am-cf am-avg-sm-4">
		   <li style="background:#f37b1d;"> <a href="tel:18502775929" class="am-btn am-icon-phone am-icon-md" style="color:#FFFFFF;"><br>电话</a></li>
		</ul>
	  </div>
	  
	  <div class="am-u-sm-2" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px;">
	  	<ul class="am-navbar-nav am-cf am-avg-sm-4">
		   <li style="background:#f37b1d;"> <a href="sms:18502775929" class="am-btn am-icon-comment am-icon-md" style="color:#FFFFFF;"><br>短信</a></li>
		</ul>
	  </div>
	  
	  <div class="am-u-sm-2" style="padding-left:0px; padding-right:0px; margin-left:0px; margin-right:0px;">
	  	<ul class="am-navbar-nav am-cf am-avg-sm-4">
		   <li style="background:#f37b1d;"> <a id="idyuyin" class="am-btn am-icon-microphone am-icon-md" style="color:#FFFFFF;"><br>语音</a></li>
		</ul>
	  </div>
	 
	</div>
	
</div>
<!-- //底部菜单 -->



</body>
</html>
