<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>租房平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="assets/images/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
<link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">
<link rel="stylesheet" href="assets/css/amazeui.min.css">
<link rel="stylesheet" href="assets/css/app.css">
</head>

<body style="background:#FFFFFF">

<!-- Header -->
<header data-am-widget="header" class="am-header am-header-fixed">
  <div class="am-header-left am-header-nav">
  <a href="javascript:history.go(-1)" class="am-btn"><i class="am-header-icon am-icon-angle-left am-icon-md"></i></a> </div>
  <h1 class="am-header-title">房源信息</h1>
  <div class="am-header-right am-header-nav"> 
    <!--<a href="login.html" class="am-btn"><i class="am-header-icon am-icon-user"></i><span class="am-header-nav-title">登录</span> </a> --> 
  </div>
</header>

<!-- Slider -->
<div class="am-g" >
  <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
    <ul class="am-slides">
      <li> <img src="assets/images/imgtest01.jpg"> </li>
      <li> <img src="assets/images/imgtest02.jpg"> </li>
      <li> <img src="assets/images/imgtest03.jpg"> </li>
    </ul>
  </div>
</div>

<!-- house info -->
<font size="+0">&nbsp;</font>
<font size="+0">澳门银座 A号楼 1单元 整租</font> <font color="#FF0000" size="+1">2700元/月</font> <br>
<font size="+0">&nbsp;</font>
<font size="-2">发布时间:</font><font size="-2">2015/07/19</font> <span style="background:#00CC66; font-size:9px">免中介费</span>

<div class="am-scrollable-horizontal">
  <table class="am-table am-text-nowrap am-table-compact" align="center">
  	 <tbody>
	  <tr>
		<td><span><font>武昌-徐东</font></span></td>
		<td><span><font>3室1厅</font></span></td>
		<td><span><font>100平米</font></span></td>
	  </tr>
	  <tr>
		<td  style="border-bottom:1px solid #CCCCCC"><span><font>整租</font></span></td>
		<td  style="border-bottom:1px solid #CCCCCC"><span><font>朝北</font></span></td>
		<td  style="border-bottom:1px solid #CCCCCC"><span><font>低层/26</font></span></td>
	  </tr>
  </tbody>
  
  </table>
</div>

<div class="am-scrollable-horizontal">
  <table class="am-table am-text-nowrap am-table-compact" align="center">
  	 <tbody>
	  <tr>
		<td><span>配套设施:</span></td>
	  </tr>
	  <tr>
		   <td><i class="am-icon-check-circle am-warning"></i>床</td>
		   <td class="self-uncheck-font"><i class="am-icon-check-circle-o am-warning"></i>宽带</td>
	  	   <td class="self-uncheck-font"><i class="am-icon-check-circle-o am-warning"></i>电视</td>
	  	   <td><i class="am-icon-check-circle am-warning"></i>洗衣机</td>
	  </tr>
	  <tr>
		  <td class="self-uncheck-font"><i class="am-icon-check-circle-o am-warning"></i>暖气</td>
		  <td><i class="am-icon-check-circle am-warning"></i>空调</td>
		  <td class="self-uncheck-font"><i class="am-icon-check-circle-o am-warning"></i>冰箱</td>
		  <td><i class="am-icon-check-circle am-warning"></i>热水器</td>
	  </tr>
  </tbody>
  
  </table>
</div>

	<ul class="am-list am-collapse admin-sidebar-sub am-in" >
    
        <li><a>&nbsp;小&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区:&nbsp;&nbsp;
           <span id="txt-myalert1"><font color="#999999">才华名苑</font></span>
           <span class="am-icon-angle-right right-arrow-icon"></span></a>
		</li>
        
        <li><a href="house_baidu_info.html">&nbsp;地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:&nbsp;&nbsp;
           <span id="txt-myalert2"><font color="#999999">徐东友谊大道杨园</font></span>
           <span class="am-icon-angle-right right-arrow-icon"></span></a>
		</li>
		 
    </ul>

<!--<div style="height:5px"></div>-->
<!--<hr style="background-color:#09C; border:none; height:1px">-->

<div class="am-g" align="center">
	<a href="#" class="am-btn am-btn-success">删除</a>
	<a href="#" class="am-btn am-btn-success">编辑</a>
	<a href="#" class="am-btn am-btn-success">更新</a>
	<a href="#" class="am-btn am-btn-success">已出租</a>
</div>

<!-- gap -->
<div style="height:5px"></div>
    
<script src="assets/js/jquery.min.js"></script> 
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>
