<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>租房平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="assets/images/app-icon72x72@2x.png">
<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
<link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">
<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">
<link rel="stylesheet" href="assets/css/amazeui.min.css">
<link rel="stylesheet" href="assets/css/app.css">
</head>

<body >
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-fixed">
  <div class="am-header-left am-header-nav"> <a href="javascript:history.go(-1)" class="am-btn"><i class="am-header-icon am-icon-angle-left am-icon-md"></i></a> </div>
  <h1 class="am-header-title">账单详情</h1>
  <div class="am-header-right am-header-nav">
    <!--<a href="login.html" class="am-btn"><i class="am-header-icon am-icon-user"></i><span class="am-header-nav-title">登录</span> </a> -->
  </div>
</header>


<div style="height:15px"></div>

<div class="am-container">

	<ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
	  <li style="font-weight:600">&nbsp;<i class="am-icon-info-circle"></i>&nbsp;基本信息</li>
	  <li>&nbsp;合同编号: <span>XX12455</span> </li>
	  <li>&nbsp;房屋编号: <span>XY12456</span> </li>
	  <li>&nbsp;房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客: <span>张三</span> </li>
	  <li>&nbsp;账单日期: <span>2015-07</span> </li>
	  <li>&nbsp;账单类型: <span>活动费用</span> </li>
	</ul>
	
	<ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
	  <li style="font-weight:600">&nbsp;<i class="am-icon-money"></i>&nbsp;固定费用</li>
	  <li>&nbsp;房屋租金: <i class="am-icon-rmb"></i><span>2000</span> </li>
	  <li>&nbsp;网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费: <i class="am-icon-rmb"></i><span>109</span></li>
	  <li>&nbsp;物&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业: <i class="am-icon-rmb"></i><span>30</span></li>
	</ul>
	
	<div style="height:10px"></div>
	
	<form>
		<ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
		  <li style="font-weight:600">&nbsp;<i class="am-icon-ruble"></i>&nbsp;活动费用</li>
		  <li>
			  &nbsp;水&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费: <i class="am-icon-rmb"></i>
			  <span>20</span>
		  </li>
		  <li>
			  &nbsp;电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费: <i class="am-icon-rmb"></i>
			  <span>200</span>
		  </li>
		  <li>
			  &nbsp;气&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费: <i class="am-icon-rmb"></i>
			  <span>120</span>
		  </li>
		  
		</ul>
		
		<div>
			<button class="am-btn am-btn-primary" type="submit">通知缴费</button>
		</div>
		
	</form>


</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>
