<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>租房平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="assets/images/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
<link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="assets/css/amazeui.min.css">
<link rel="stylesheet" href="assets/css/app.css">

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>

</head>

<body  class="body-white-bgcolor">

<!-- Header -->
<header data-am-widget="header" class="am-header am-header-fixed">
  <div class="am-header-left am-header-nav"> 
   <a href="javascript:history.go(-1)" class="am-btn"><i class="am-header-icon am-icon-angle-left am-icon-md"></i></a>
  </div>
  <h1 class="am-header-title">合同约定事项</h1>
  <div class="am-header-right am-header-nav">
  <!--<a href="login.html" class="am-btn"><i class="am-header-icon am-icon-user"></i><span class="am-header-nav-title">登录</span> </a> -->
  </div>
</header>

<div style="height:10px;"></div>

<div class="am-scrollable-horizontal">
  <table class="am-table am-table-compact" align="center">
  	 <tbody>
	  <tr>
		<td colspan="2"><span style="font-weight:600">租赁期间的约定事项</span></td>
	  </tr>
	  <tr>
		<td><span>1.</span></td>
		<td>甲方提供完好的房屋及设施，并按国家规定办理好有关租赁手续。乙方不得破坏房屋结构及设施，否则按价赔偿。如对赔偿额度有争议，交有丙方调解。</td>
	  </tr>
	  <tr>
		<td><span>2.</span></td>
		<td>乙方不得将房屋转租或供非法用途，外来人员居住必须主动办理暂住户口手续，若发生非法事件，乙方自负后果，并承担违约责任。</td>
	  </tr>
	  <tr>
		<td><span>3.</span></td>
		<td>甲方若需检查房内设施情况需至少提前一天预约乙方，若未经乙方允许进入房屋引起争议，该争议由丙方调解和裁定。</td>
	  </tr>
	  <tr>
		<td><span>4.</span></td>
		<td>对于乙方的装修、改善和增设的他物甲方不承担维修的义务，乙方应在租赁期满时回复房屋租赁的初始状态。</td>
	  </tr>
	  <tr>
		<td><span>5.</span></td>
		<td>
			此协议未尽事宜，双方协商解决，并作出补充规定，补充规定为本协议不可分割的部分，补充规定与本协议约定不一致的，以补充规定为准。
	        双方如果出现纠纷，交由丙方调解；如果调解不成功或未能遵照调解方案执行的，由房屋所在地人民法院管辖。
		</td>
	  </tr>
  </tbody>
  
  </table>
</div>

<div class="am-scrollable-horizontal">
  <table class="am-table am-table-compact" align="center">
  	 <tbody>
	  <tr>
		<td colspan="2"><span style="font-weight:600">合同争议解决方案</span></td>
	  </tr>
	  <tr>
	  	<td><span></span></td>
		<td><span>本合同下发生的争议，由双方当事人协商解决；协商不成，则有丙方介入进行争议调解，否则依法想有管辖权的人民法院起诉，或按照另行达成的仲裁条款或仲裁协议申请仲裁。</span></td>
	  </tr>
  </tbody>
  
  </table>
</div>

</body>
</html>
