<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>租房平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="assets/images/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
<link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">
<link rel="stylesheet" href="assets/css/amazeui.min.css">
<link rel="stylesheet" href="assets/css/app.css">
</head>

<body class="body-white-bgcolor">

<!-- Header -->
<header data-am-widget="header" class="am-header am-header-fixed" >
    <div class="am-header-left am-header-nav"> 
   <a href="javascript:history.go(-1)" class="am-btn"><i class="am-header-icon am-icon-angle-left am-icon-md"></i></a>  </div> 
    <!--<a href="#" class="">
      <i class="am-header-icon am-icon-phone"></i>
    </a>--> 
  </div>
  <h1 class="am-header-title">来自邓院林的消息</h1>
  <div class="am-header-right am-header-nav"> 
  <!--<a href="login.html" class="am-btn"><i class="am-header-icon am-icon-user"></i><span class="am-header-nav-title">登录</span></a> 
  -->
  </div>
</header>

<!-- gap -->
<div style="height:10px"></div>

<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <div class="am-list-news-bd">
  
    <ul class="am-list">
    	<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
        
		<div class="am-u-sm-2 am-list-thumb" >
          <a href="message_info.html" class="">
            <img src="assets/images/weixin.png" class="am-img-responsive am-circle"  alt=""/>
          </a>
        </div>
        <div class=" am-u-sm-10 am-list-main">
			<div class=="am-list-item-text">
            	<span>用户类型：</span><span>普通用户</span><br>
				<span>信誉度：</span><span>*****</span><br>
       		</div>
		</div>
		
      </li>
	  
    </ul>
	
  </div>
</div>

<div style=" margin-left:3%; margin-right:3%;text-indent:2em">
	<p class="am-kai">
		我想租你的在江汉路的房子，不知道价格可不可以商量啊，半年一付的话租金能不能便宜点！
	</p>
</div>

<!-- 底部菜单 -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-2">
    <li> <a href="#" class="am-btn am-icon-mail-reply am-icon-md"><br>回复</span> </a> </li>
    <li> <a href="#" class="am-btn am-icon-remove am-icon-md"><br>删除</span> </a> </li>
  </ul>
</div>

<!-- 底部菜单 end --> 

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>
