<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>租房平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="assets/images/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
<link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="assets/css/amazeui.min.css">
<link rel="stylesheet" href="assets/css/app.css">

</head>

<body >

<!-- Header -->
<header data-am-widget="header" class="am-header am-header-fixed">
  <div class="am-header-left am-header-nav"> 
   <a href="javascript:history.go(-1)" class="am-btn"><i class="am-header-icon am-icon-angle-left am-icon-md"></i></a>  </div>
  <h1 class="am-header-title">合同详情</h1>
  <div class="am-header-right am-header-nav">
  <!--<a href="login.html" class="am-btn"><i class="am-header-icon am-icon-user"></i><span class="am-header-nav-title">登录</span> </a> -->
  </div>
</header>

<div style="height:10px"></div>

<!-- content start -->
<div class="admin-content">

  <div class="am-tabs am-margin" data-am-tabs>
  	
    <ul class="am-tabs-nav am-nav am-nav-tabs am-btn-group-justify">
      <li class="am-active"><a href="#tab1" class="am-btn">基本信息</a></li>
      <li><a href="#tab2" class="am-btn">合同约定</a></li>
      <li><a href="#tab3" class="am-btn">违约责任</a></li>
	  <li><a href="#tab4" class="am-btn">其他事项</a></li>
    </ul>

    <div class="am-tabs-bd">
	
	  <!--  tab1 -->
      <div class="am-tab-panel am-fade am-in am-active" id="tab1">
	  
        <!--  第一段 房东 " -->
		 <ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
			<li>&nbsp;甲方(出租方):
			   <span>xxxx</span>
			</li>
			
			<li>&nbsp;委&nbsp;&nbsp;&nbsp;&nbsp;托&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人:
			   <span>xxxx</span>
			</li>
			
			<li>&nbsp;身&nbsp;&nbsp;份&nbsp;&nbsp;证&nbsp;&nbsp;号:
			   <span>42070420150102456x</span>
			</li>
			
			<li>&nbsp;联&nbsp;&nbsp;系&nbsp;&nbsp;地&nbsp;&nbsp;址:
			   <span>解放大道解放公园</span>
			</li>
			
			<li>&nbsp;联&nbsp;&nbsp;系&nbsp;&nbsp;电&nbsp;&nbsp;话:
			   <span>13468855442</span>
			</li>
		
			
			<li>&nbsp;电&nbsp;&nbsp;子&nbsp;&nbsp;邮&nbsp;&nbsp;件:
			   <span>xxx@126.com</span>
			</li>
		</ul>
		
		 <!--  第二段 房客 " -->
		 <ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
			<li>&nbsp;乙方(承租方):
			   <span>xxxx</span>
			</li>
			
			<li>&nbsp;委&nbsp;&nbsp;&nbsp;&nbsp;托&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人:
			   <span>xxxx</span>
			</li>
			
			<li>&nbsp;身&nbsp;&nbsp;份&nbsp;&nbsp;证&nbsp;&nbsp;号:
			   <span>42070420150102456x</span>
			</li>
			
			<li>&nbsp;联&nbsp;&nbsp;系&nbsp;&nbsp;地&nbsp;&nbsp;址:
			   <span>徐东大街徐东村</span>
			</li>
			
			<li>&nbsp;联&nbsp;&nbsp;系&nbsp;&nbsp;电&nbsp;&nbsp;话:
			   <span>1568795462</span>
			</li>
		
			
			<li>&nbsp;电&nbsp;&nbsp;子&nbsp;&nbsp;邮&nbsp;&nbsp;件:
			   <span>yyy@126.com</span>
			</li>
		  </ul>
		  
		  <!--  第三段 委托人 " -->
		 <ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
			<li>&nbsp;丙方(担保方):
			   <span>湖北爱微迈智能科技有限公司</span>
			</li>
			
			<li>&nbsp;联&nbsp;&nbsp;系&nbsp;&nbsp;地&nbsp;&nbsp;址:
			   <span>和平大道和平公园</span>
			</li>
			
			<li>&nbsp;联&nbsp;&nbsp;系&nbsp;&nbsp;电&nbsp;&nbsp;话:
			   <span>1568795433</span>
			</li>
		
			
			<li>&nbsp;电&nbsp;&nbsp;子&nbsp;&nbsp;邮&nbsp;&nbsp;件:
			   <span>zzz@126.com</span>
			</li>
		  </ul>
		  
      </div>
	  
	  <!--  tab2 -->
      <div class="am-tab-panel am-fade" id="tab2">
	 	
        <!--  第一段 房屋信息 " -->
		 <ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
		 
		 	<li style="font-weight:600">&nbsp;<i class="am-icon-info"></i>&nbsp;基本情况</li>
		 	
			<li>&nbsp;房&nbsp;&nbsp;屋&nbsp;&nbsp;地&nbsp;&nbsp;点:
			   <span>徐东大街</span>
			</li>
			
			<li>&nbsp;房&nbsp;&nbsp;屋&nbsp;&nbsp;面&nbsp;&nbsp;积:
			   <span>100平米</span>
			</li>
			
			<li>&nbsp;家&nbsp;&nbsp;电&nbsp;&nbsp;设&nbsp;&nbsp;施:
			   <span>床,空调,热水器</span>
			</li>
			
		</ul>
		
		<!--  第二段 房屋租凭时间 " -->
		 <ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
		 
		 	<li style="font-weight:600">&nbsp;<i class="am-icon-calendar"></i>&nbsp;租凭期限</li>
		 	
			<li>&nbsp;开&nbsp;&nbsp;始&nbsp;&nbsp;时&nbsp;&nbsp;间:
			   <span>2015-03-10</span>
			</li>
			
			<li>&nbsp;结&nbsp;&nbsp;束&nbsp;&nbsp;时&nbsp;&nbsp;间:
			   <span>2015-12-10</span>
			</li>
			
			<li>&nbsp;总&nbsp;&nbsp;共&nbsp;&nbsp;期&nbsp;&nbsp;限:
			   <span>0年9月</span>
			</li>
			
		</ul>
		
		<!--  第三段 房屋租金及交付方式 " -->
		 <ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
		 
		 	<li style="font-weight:600">&nbsp;<i class="am-icon-money"></i>&nbsp;租金交纳</li>
		 	
			<li>&nbsp;房&nbsp;&nbsp;屋&nbsp;&nbsp;租&nbsp;&nbsp;金:
			   <span>2000元/月</span>
			</li>
			
			<li>&nbsp;交&nbsp;&nbsp;纳&nbsp;&nbsp;时&nbsp;&nbsp;间:
			   <span>按月付一次,现付后住</span>
			</li>
			
		</ul>
		
		<!--  第四段 押金交纳 " -->
		 <ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
		 
		 	<li style="font-weight:600">&nbsp;<i class="am-icon-legal"></i>&nbsp;押金事项</li>
		 	
			<li>&nbsp;乙&nbsp;&nbsp;方&nbsp;&nbsp;交&nbsp;&nbsp;纳:
			   <span>2000元押金</span>
			</li>
			
			<li>&nbsp;押&nbsp;&nbsp;金&nbsp;&nbsp;说&nbsp;&nbsp;明:
			   <span>丙方保管押金,合同到期后5个工作日内丙方无息归还给乙方</span>
			</li>
			
		</ul>
		
		<!--  第五段 沟通事项 " -->
		<div style="height:10px;"></div>
		<div class="am-scrollable-horizontal body-white-bgcolor">
		  <table class="am-table am-table-compact" align="center">
			 <tbody>
			  <tr>
				<td colspan="2" class="txt-bottom-line"><span style="font-weight:600">&nbsp;<i class="am-icon-group"></i>&nbsp;沟通事项</span></td>
			  </tr>
			  
			  <!-- 第一行记录 -->
			  <tr>
				<td class="txt-bottom-line" style="width:110px;"><span>&nbsp;养&nbsp;&nbsp;&nbsp;&nbsp;宠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;物:</span></td>
				<td class="txt-bottom-line" align="left">
					<span>
					<div class="am-btn-group">
						<label class="am-radio-inline">
							<input type="radio" name="radioym" value="guding" data-am-ucheck checked>是
						 </label>
						 <label class="am-radio-inline">
							<input type="radio" name="radioym" value="biandong" data-am-ucheck>否
						  </label>
					</div>
					</span>
				</td>
			  </tr>
			  <!-- //第一行记录 -->
			  
			  <!-- 第二行记录 -->
			  <tr>
				<td class="txt-bottom-line"><span>&nbsp;室&nbsp;&nbsp;内&nbsp;&nbsp;吸&nbsp;&nbsp;烟:</span></td>
				<td class="txt-bottom-line">
				 <span>
					<div class="am-btn-group">
						<label class="am-radio-inline">
							<input type="radio" name="radioxy" value="guding" data-am-ucheck checked>是
						 </label>
						 <label class="am-radio-inline">
							<input type="radio" name="radioxy" value="biandong" data-am-ucheck>否
						  </label>
					</div>
				  </span>
				</td>
			  </tr>
			  
			   <!-- 第三行记录 -->
			  <tr>
				<td class="txt-bottom-line"><span>&nbsp;常&nbsp;&nbsp;住&nbsp;&nbsp;人&nbsp;&nbsp;数:</span></td>
				<td class="txt-bottom-line">
					<span><input type="text" style="width:60px;" class="text_border_none"></span><span>人</span>
				</td>
			  </tr>
			  
		   </tbody>
		  </table>
		</div>
		
		<!--  第六段 费用约定 " -->
		<div style="height:10px;"></div>
		<div class="am-scrollable-horizontal body-white-bgcolor">
		  <table class="am-table am-table-compact" align="center">
			 <tbody>
			  <tr>
				<td colspan="2" class="txt-bottom-line"><span style="font-weight:600">&nbsp;<i class="am-icon-magnet"></i>&nbsp;费用约定</span></td>
			  </tr>
			  
			  <!-- 第一行记录 -->
			  <tr>
				<td class="txt-bottom-line" style="width:110px;"><span>&nbsp;水&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费:</span></td>
				<td class="txt-bottom-line">
					<span>
						<div class="am-btn-group">
						  <label class="am-radio-inline">
							<input type="radio" name="radios" value="guding" data-am-ucheck checked>固定：
							<span><input type="text" style="width:70px;" class="text_border_none"></span><span>元/月</span>
						  </label><br>
						  <label class="am-radio-inline">
							<input type="radio" name="radios" value="biandong" data-am-ucheck>变动：
							<span><textarea rows="2" style="width:100px;"></textarea></span>
						  </label>
						</div>
				   </span> 
				</td>
			  </tr>
			  <!-- //第一行记录 -->
			  
			  <!-- 第二行记录 -->
			  <tr>
				<td class="txt-bottom-line"><span>&nbsp;电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费:</span></td>
				<td class="txt-bottom-line">
					<span>
						<div class="am-btn-group">
						  <label class="am-radio-inline">
							<input type="radio" name="radiod" value="guding" data-am-ucheck checked>固定：
							<span><input type="text" style="width:70px;" class="text_border_none"></span><span>元/月</span>
						  </label><br>
						  <label class="am-radio-inline">
							<input type="radio" name="radiod" value="biandong" data-am-ucheck>变动：
							<span><textarea rows="2" style="width:100px;"></textarea></span>
						  </label>
						</div>
				   </span> 
				</td>
			  </tr>
			  
			  <!-- 第三行记录 -->
			  <tr>
				<td class="txt-bottom-line"><span>&nbsp;气&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费:</span></td>
				<td class="txt-bottom-line">
					<span>
						<div class="am-btn-group">
						  <label class="am-radio-inline">
							<input type="radio" name="radioq" value="guding" data-am-ucheck checked>固定：
							<span><input type="text" style="width:70px;" class="text_border_none"></span><span>元/月</span>
						  </label><br>
						  <label class="am-radio-inline">
							<input type="radio" name="radioq" value="biandong" data-am-ucheck>变动：
							<span><textarea rows="2" style="width:100px;"></textarea></span>
						  </label>
						</div>
				   </span> 
				</td>
			  </tr>
			  
			  <!-- 第四行记录 -->
			  <tr>
				<td class="txt-bottom-line"><span>&nbsp;网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费:</span></td>
				<td class="txt-bottom-line">
					<span>
						<div class="am-btn-group">
						  <label class="am-radio-inline">
							<input type="radio" name="radiow" value="guding" data-am-ucheck checked>固定：
							<span><input type="text" style="width:70px;" class="text_border_none"></span><span>元/月</span>
						  </label><br>
						  <label class="am-radio-inline">
							<input type="radio" name="radiow" value="biandong" data-am-ucheck>变动：
							<span><textarea rows="2" style="width:100px;"></textarea></span>
						  </label>
						</div>
				   </span> 
				</td>
			  </tr>
			  
			  <!-- 第五行记录 -->
			  <tr>
				<td class="txt-bottom-line"><span>&nbsp;电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;视&nbsp;&nbsp;&nbsp;费:</span></td>
				<td class="txt-bottom-line">
					<span>
						<div class="am-btn-group">
						  <label class="am-radio-inline">
							<input type="radio" name="radiods" value="guding" data-am-ucheck checked>固定：
							<span><input type="text" style="width:70px;" class="text_border_none"></span><span>元/月</span>
						  </label><br>
						  <label class="am-radio-inline">
							<input type="radio" name="radiods" value="biandong" data-am-ucheck>变动：
							<span><textarea rows="2" style="width:100px;"></textarea></span>
						  </label>
						</div>
				   </span> 
				</td>
			  </tr>
			  
			  <!-- 第六行记录 -->
			  <tr>
				<td class="txt-bottom-line"><span>&nbsp;物业/卫生费:</span></td>
				<td class="txt-bottom-line">
					<span>
						<div class="am-btn-group">
						  <label class="am-radio-inline">
							<input type="radio" name="radiows" value="guding" data-am-ucheck checked>固定：
							<span><input type="text" style="width:70px;" class="text_border_none"></span><span>元/月</span>
						  </label><br>
						  <label class="am-radio-inline">
							<input type="radio" name="radiows" value="biandong" data-am-ucheck>变动：
							<span><textarea rows="2" style="width:100px;"></textarea></span>
						  </label>
						</div>
				   </span> 
				</td>
			  </tr>
			  
			  <!-- 第七行记录 -->
			  <tr>
				<td class="txt-bottom-line">&nbsp;缴&nbsp;&nbsp;费&nbsp;&nbsp;方&nbsp;&nbsp;式:</span></td>
				<td class="txt-bottom-line">
					<span>
						<div class="am-btn-group">
						  <label class="am-radio-inline">
							<input type="radio" name="radiofs" value="guding" data-am-ucheck checked>通过丙方转账
						  </label><br>
						  <label class="am-radio-inline">
							<input type="radio" name="radiofs" value="biandong" data-am-ucheck>直接缴费
						  </label>
						</div>
				   </span> 
				</td>
			  </tr>
			  
			  <!-- 第八行记录 -->
			  <tr>
				<td class="txt-bottom-line">&nbsp;其&nbsp;&nbsp;他&nbsp;&nbsp;约&nbsp;&nbsp;定:</span></td>
				<td class="txt-bottom-line">
					<textarea></textarea>
				</td>
			  </tr>
			  
		   </tbody>
		  </table>
		</div>
		
		<!--  第七段 事项约定 " -->
		 <ul class="am-list am-collapse admin-sidebar-sub am-in self-list_padding" >
		 
		 	<li style="font-weight:600">&nbsp;<i class="am-icon-reorder"></i>&nbsp;约定事项</li>
		 	
			 <li><a href="contract_other_appoint.html">&nbsp;细&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;则:
				   <span id="txt-myalert1"><font color="#999999">点击查看</font></span>
				   <span class="am-icon-angle-right right-arrow-icon"></span></a>
		</li>
			
		</ul>
		
      </div>

	 <!--  tab3 -->
      <div class="am-tab-panel am-fade" id="tab3">
        <div class="am-scrollable-horizontal">
		  <table class="am-table am-table-compact" align="center" style="background:#FFFFFF">
			 <tbody>
			  <tr>
				<td colspan="2"><span style="font-weight:600">违约及违约责任</span></td>
			  </tr>
			  <tr>
				<td><span>1.</span></td>
				<td>租期内房屋如因不可抗力的原因导致毁损和造成损失的，协议自然终止，双方互不承担违约责任。</td>
			  </tr>
			  <tr>
				<td><span>2.</span></td>
				<td>甲乙任何一方因特殊原因提出解除合同，必须提前两个月通知对方，否则视作违约。甲乙其中一方提出解除合同的，甲乙双方均需向丙方支付10元手续费，双方中任意一方的该项费用可以协商后由某一方代为全部支付。</td>
			  </tr>
			  <tr>
				<td><span>3.</span></td>
				<td>乙方如拖欠交付租金、水电费、电话费等应付费用并多次不改正，甲方有权单方面解除合同，收回房屋，并有权向乙方索取违约金。</td>
			  </tr>
			  <tr>
				<td><span>4.</span></td>
				<td>因甲方未按约定履行维修义务造成乙方人身、财产损失的，甲方应承担赔偿责任。</td>
			  </tr>
			  <tr>
				<td><span>5.</span></td>
				<td>因甲方未按约定履行维修义务造成乙方人身、财产损失的，甲方应承担赔偿责任。</td>
			  </tr>
			  
			  <tr>
				<td><span>6.</span></td>
				<td>自合同签订后即产生法律效力，任何一方均不得无故终止合同。如发生违约情况，违约方应支付给守约方违约金，并按实结算房租。<br>违约金计算方法为：<br>
					1） 向丙方支付违约见证费100元。<br>
					2） 向守约方支付半月租金，并且向守约方支付违约费100元。<br>
					如有乙方责任的违约发生，丙方将免费在丙方信息平台上优先推荐该房源。
					</td>
			  </tr>  
		  	</tbody>
		  </table>
		</div>
      </div>
	  
	   <!--  tab4 -->
      <div class="am-tab-panel am-fade" id="tab4">
         <div class="am-scrollable-horizontal">
		  <table class="am-table am-table-compact" align="center" style="background:#FFFFFF">
			 <tbody>
			  <tr>
				<td colspan="2"><span style="font-weight:600">其他事项</span></td>
			  </tr>
			  <tr>
				<td><span>1.</span></td>
				<td>丙方所收到的押金应交由负责任的机构和单位监管，该机构和单位的名称应告知甲乙双方，以确保押金安全。</td>
			  </tr>
			  <tr>
				<td><span>2.</span></td>
				<td>本协议一式三份，甲乙双方各执一份，丙方备案一份。经甲、乙双方签字或盖章或现场合影以示同意后生效。</td>
			  </tr>			  
		     </tbody>
		  </table>
		</div>
      </div>

    </div>
  </div>

  <div class="am-margin">
    <button type="button" class="am-btn am-btn-primary">提交保存</button>
    <button type="button" class="am-btn am-btn-primary">放弃保存</button>
  </div>
</div>
<!-- content end -->


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>
