<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>租房平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="assets/images/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
<link rel="apple-touch-icon-precomposed" href="assets/images/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="assets/css/amazeui.min.css">
<link rel="stylesheet" href="assets/css/app.css">
</head>

<body class="body-white-bgcolor">

<!-- Header -->
<header data-am-widget="header" class="am-header am-header-fixed">
  <div class="am-header-left am-header-nav"> 
   <a href="javascript:history.go(-1)" class="am-btn"><i class="am-header-icon am-icon-angle-left am-icon-md"></i></a>  
  </div>
  
  <h1 class="am-header-title">我的交易</h1>
  
  <div class="am-header-right am-header-nav">
  <!--<a href="person_account_info.html" class="am-btn"><span class="am-header-nav-title">完成</span> </a>  -->
  </div>
  
</header>

<div style="height:15px;"></div>

<div class="am-container">
    <div class="am-input-group">
      <input type="text" class="am-form-field"  placeholder="请输入日期,房客,合同号">
	  <span class="am-input-group-btn">
        <button class="am-btn am-btn-default" type="button"><span class="am-icon-search"></span> </button>
      </span>
    </div>
</div>

<!--<hr style="background-color:#504E4E; border:none; height:1px">-->
<div style="height:10px;"></div>

<div class="am-scrollable-horizontal am-container">
  <table class="am-table am-table-compact self-table-tr-active" >
  
	 <thead>
        <tr>
            <th style="border-top:1px solid #666666">合同号</th>
            <th style="border-top:1px solid #666666">房客</th>
            <th style="border-top:1px solid #666666">金额</th>
			<th style="border-top:1px solid #666666">日期</th>
        </tr>
    </thead>
 
    <tbody>
 
	  <tr>
        <td class="txt-bottom-line">XX12455</td>
		<td class="txt-bottom-line">张三</td>
		<td class="txt-bottom-line"><i class="am-icon-rmb"></i><span>2000</span> </td>
		<td class="txt-bottom-line"><time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12</time></td>
	  </tr>
	  
	  <tr>
        <td class="txt-bottom-line">XX12456</td>
		<td class="txt-bottom-line">李四</td>
		<td class="txt-bottom-line"><i class="am-icon-rmb"></i><span>2000</span> </td>
		<td class="txt-bottom-line"><time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800"><span>2014-7-13</span></time></td>
      </tr>

    </tbody>
  </table>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>
